.hero {
  background: $thirdlyBgColor url('../img/front-banner.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(122, 87, 81, 0.9) 0%, rgba(92, 154, 210, 0.8) 100%);
  }
  &__content {
    position: relative;
    z-index: 2;
    padding: 185px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $whiteColor;

  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  &__subtitle {
    color: $linkReadmoreColor;
  }
  &__text {
    font-size: 24px;
    text-transform: capitalize;
  }
}
