.technology {
  padding: 110px 0 105px;
  &__title {
    @include section-title;
    margin-bottom: 52px;
    line-height: 1.2;
  }
  &__subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
  }
}
.technology-slider {
  position: relative;
}
.technology-item {
  position: relative;
  text-align: center;
  padding: 0 30px 30px;
  &__number {
    font-size: 100px;
    font-weight: bold;
    line-height: 1.2;
    color: rgba(16, 16, 16, 0.08);
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__desc {
    font-size: $fsSecondary;
  }
}
.technology-nav {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 40%;
  transform: translateY(-19px);
  z-index: 10;
  .owl-prev,
  .owl-next {
    width: 35px;
    height: 38px;
    border: none;
    background: red;
    padding: 11px 0;
    outline: none;
    margin-bottom: 0;
    span {
      font-size: 300%;
      line-height: 0.2;
      color: $whiteColor;
    }
  }
  .owl-prev.disabled,
  .owl-next.disabled {
    background: $primaryColor;
  }
}
