html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  font-family: $fontPrimary;
  font-style: normal;
  font-size: $fsPrimary;
  line-height: $lhPrimary;
  font-weight: normal;
  color: $primaryColor;
  background: $secondaryColor;
}

h1, h2, h3, h4, h5, h6{
  font-family: $fontTitle;
  // letter-spacing: 0.04em;
  font-weight: 600;
  margin: 0;
}
h1 {
  font-size: $fsH1Title;
}

h2 {
  font-size: $fsH2Title;
}

h3 {
  font-size: $fsH3Title;
}
h4 {
  font-size: $fsH4Title;
}
h5 {
  font-size: $fsH5Title;
}
h6 {
  font-size: $fsH6Title;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}

a,
input[type="submit"],
input[type="button"],
button{
	text-align: center;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in, transform .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.button {
	display: inline-block;
  border: 1px solid $primaryColor;
  background-color: #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  padding: 17px 17px;
  margin-bottom: 20px;

}

input[type="submit"],
input[type="button"],
button:hover,
.button:hover {
  background-color: $footerBgColor;
  color: $primaryColor;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: all .3s ease-in;
}

*, *::before, *::after {
  box-sizing: border-box;
}
