$primaryColor: #333333;
$primaryBgColor: #ffffff;
$secondaryColor: #ffffff;
$whiteColor: #ffffff;
$secoindaryBgColor: #f5f5f5;
$thirdlyBgColor: #ED4C5C;
$headerBgColor: #7A5751;
$footerBgColor: #2a2a2a;
$linksColor: #ffffff;
$linksHoverColor: #FFBA00;
$linkReadmoreColor: #ED4C5C;

$fontPrimary: 'Roboto', sans-serif;
$fontTitle: 'Montserrat', sans-serif;

$fsH1Title: 75px;
$fsH2Title: 50px;
$fsH3Title: 45px;
$fsH4Title: 30px;
$fsH5Title: 28px;
$fsH6Title: 18px;
$fsPrimary: 14px;
$fsSecondary: 12px;
$fsThird: 24px;
$lhPrimary: 1.5;

$screen-large: 992px;
$screen-medium: 768px;
$screen-small: 576px;
